{% load static %}
<section id="features" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Novos Recursos</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-left">
                    {% for feat in features %}
                    {% if feat.side == 'Left' %}
                    <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="{{ feat.icone }}"></i>
                </span>
                        <div class="text">
                            <h4>{{ feat.titulo }}</h4>
                            <p>{{ feat.descricao }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>


            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{% static 'img/feature/intro-mobile.png' %}" alt="">
                </div>
            </div>


            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-right">
                    {% for feat in features %}
                    {% if feat.side == 'Right' %}
                    <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="{{ feat.icone }}"></i>
                </span>
                        <div class="text">
                            <h4>{{ feat.titulo }}</h4>
                            <p>{{ feat.descricao }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>
</section>